language: ruby

cache:
  bundler: true

services:
  - redis

dist: trusty

before_install:
  - pyenv install 2.7.14 -f
  - pyenv global 2.7.14
  - pip install awscli --user

stages:
  - name: test
  - name: build latest archives
    if: type IN (api, cron)
  - name: PHP
    if: type IN (api, cron)
  - name: Python
    if: type IN (api, cron)
  - name: Ruby
    if: type IN (api, cron)

jobs:
  include:
    - stage: test
      script: env APP_ENV=test LOG_LEVEL=WARN bundle exec rake spec
    - stage: build latest archives
      script: bundle exec rake build_latest_archives
#    - script: bundle exec rake build[apt-whitelist-checker,run]
    - stage: PHP
      script: bundle exec rake build[php-src-builder,default,'VERSION=master ALIAS=nightly ICU_RELEASE=68.1 ICU_INSTALL_DIR=$HOME/.phpenv/versions/$VERSION']
      name: nightly
    - script: bundle exec rake build[php-src-builder,default,'VERSION=7.3snapshot ALIAS=$VERSION ICU_RELEASE=68.1 ICU_INSTALL_DIR=$HOME/.phpenv/versions/$VERSION']
      name: 7.3snapshot
    - script: bundle exec rake build[php-src-builder,default,'VERSION=7.4snapshot ALIAS=$VERSION ICU_RELEASE=68.1 ICU_INSTALL_DIR=$HOME/.phpenv/versions/$VERSION']
      name: 7.4snapshot
    - script: bundle exec rake build[php-src-builder,default,'VERSION=8.0snapshot ALIAS=$VERSION ICU_RELEASE=68.1 ICU_INSTALL_DIR=$HOME/.phpenv/versions/$VERSION']
      name: 8.0snapshot
    - script: bundle exec rake build[php-src-builder,default,'VERSION=8.1snapshot ALIAS=$VERSION ICU_RELEASE=68.1 ICU_INSTALL_DIR=$HOME/.phpenv/versions/$VERSION']
      name: 8.1snapshot
    - stage: Python
      script: bundle exec rake build['cpython-builder','default','VERSION=3.5-dev']
      name: 3.5-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=3.6-dev']
      name: 3.6-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=3.7-dev']
      name: 3.7-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=3.8-dev']
      name: 3.8-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=3.9-dev']
      name: 3.9-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=3.10-dev ALIAS=nightly']
      name: 3.10-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=pypy3-dev ALIAS=pypy3-nightly']
      name: pypy3-dev
    - script: bundle exec rake build['cpython-builder','default','VERSION=pypy-dev ALIAS=pypy-nightly']
      name: pypy-dev
    - stage: Ruby
      script: bundle exec rake build['travis-rubies','build','RUBY=ruby-head']
      name: ruby-head
    - script: bundle exec rake build['travis-rubies','build','RUBY=jruby-head']
      name: jruby-head
    - script: bundle exec rake build['travis-rubies','build','RUBY=mruby-head']
      name: mruby-head
    - script: bundle exec rake build['travis-rubies','build','RUBY=ruby-head-clang']
      name: ruby-head-clang

notifications:
  slack:
    rooms:
      - secure: "RdlCed6EWIMuC2i1lPUW4wGW5P9pqsIM14YRoWSfFBlXr7WDZL3sAR5h1X1N3Xj0nTXKwvSTMAPG2Kut6aBXy3xothPD8FzrwnzPOqGlCNCR5LOUeG55yxS3mFNyI1VAh3xKKOh+u0hNQFa+j/9wGNeysceeO5kHclyhmyja6gVr/vWQw2XjIXnLklZR8eEn1qzk0pGIDl252T/URCVBJaKd4cgEFxfgkt+YnKqXUJTC5mnRUgG0C05W0VnkAWk+NssLX8Yiy9F/f4apc7jZH9LrNelTusZP+HzKflLZFRfAUBpZmWuz5wRTFUM/6X6sZFwoop7jswaNhc8PIdNJPaezmc8s24KZYv/2YpgjPwA94E9CUhfneCVwS4o7A29uEDimd0EgbcPm/5JoSKg4E2MGwJhGibLXC3bJo6rikGb4uBoGUU3ActyWjL3Gnbq44hwYc85wZfegoNB2ibarpPS9WjsHbRyLg/fxF3DxMrP36TiCXcX8k4UkchcPw+FsUSkj/BUoM/UQK+F8AToCLFJLa3Lsz92IQgEL0l7xV98/rt1rAm54fjEme5hFMihGmAy9aB5ykRSUosrcKjCtFOq2fkIYSOoZa/9FsB12q9FpahALFPNA0xDKekwpcqqf+8pUiiOYY8UzMkKbdI/jXp9dRIq93GrumZOqMrZPMPw="
    on_success: never
    on_failure: always
